<ion-header>

  <ion-navbar color="teal">
    <ion-title>{{ 'Color List' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list no-lines>
    <button *ngFor="let color of colorList"
            (click)="doSelect(color);"
            ion-item>
      {{color.name}}
      <ion-icon *ngIf="this.task.color.name == color.name" name="checkmark" item-right></ion-icon>
      <ion-badge item-right [ngStyle]="{'background-color': color.hex}" >&nbsp;</ion-badge>
    </button>
  </ion-list>

</ion-content>
